@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Inter", sans-serif;
}
/* all-color */
:root{
    --primary-color:rgb(230, 83, 60);
    --secondary-color:rgb(255, 255, 255);
    --third-span-color: rgba(255, 255, 255, 0.5);
/* share */
.btn1{
    color: rgb(255, 255, 255);  
    background: rgb(230, 83, 60);
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
}
.btn2{
    color: rgb(255, 255, 255);  
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    background: transparent;
    margin-left: 15px;
}
.container{
    width: 80%;
    margin: 20px auto;
    padding: 10px 0px;
}
/* <!-- header-setion --> */
.headers-section{
    width: 100%;
    padding: 40px 0px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 1) 100%);
}
.navber{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
}
.navber .logo{
    width: 132px;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--primary-color);
}
.navber ul{

    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 2px 20px 2px 2px;
}
.navber ul li{
    list-style: none;
    line-height: 30px;
}
.navber ul li a{
    font-weight: normal;
    color: var(--secondary-color);
    text-decoration: none;
}
.navber ul li:first-child a{
    background: var(--primary-color);
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}
.navber .fa-bars{
    font-size: 2rem;
    color: aliceblue;
    display: none;
}

/* banner-container */
.banner-section{
    width: 100%;
    /* border: 2px solid yellowgreen; */

}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-section 
.banner-content{
    width: 44%;
    flex-direction: column;
    /* border: 2px solid red; */
}
.banner-section 
.banner-content h1 {
    font-size: 3rem;
    color: var(--secondary-color);
    margin: 20px 0px;
}
.banner-section 
.banner-content span {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}
.banner-section 
.banner-content h1 i{
    font-family: "Italianno", cursive;
    font-weight: 500;
}
.banner-section 
.banner-content .btn{
    margin-top: 20px;
}
.banner-container 
.banner-image{
    width: 45%;
    /* border: 2px solid green; */
    position: relative;
}
.banner-container 
.banner-image img{
    width: 100%;
    height: 580px;
}
.banner-container 
.banner-image 
.free-workout{
    padding: 15px;
    position: absolute;
    top: 120px;
    right: 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}
.banner-container 
.banner-image 
.free-workout h1{
    font-size: 2rem;
    color: var(--secondary-color);
}
.banner-container 
.banner-image 
.free-workout span{
    font-size: 1rem;
    display: inline;
    color: var(--secondary-color);
}
.banner-container 
.banner-image 
.video-tuitorial{
    position: absolute;
    bottom: 120px;
    left: 0;
    padding: 10px;
    align-items: center;
    /* border: 2px solid yellow; */
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}
.banner-container 
.banner-image 
.video-tuitorial 
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
}
.banner-container 
.banner-image 
.video-tuitorial h1{
    display: block;
    font-size: 2rem;
    color: var(--secondary-color);
}
.banner-container 
.banner-image 
.video-tuitorial span{
    font-size: 1rem;
    display: inline;
    color: var(--secondary-color);
}

/* main-section  style*/
.main-section{
    width: 100%;
    padding: 40px 0px;
    background: rgb(0, 0, 0);
    height: 800px;
    border: 2px solid green;
}
/* .habits-content style */
.main-section
.habits-content{
    width: 50%;
    margin: auto;
    color: var(--secondary-color);
    /* border: 2px solid yellow; */
    text-align: center;
    flex-direction: column;

}
.main-section
.habits-content h1{
    font-size: 3rem;
}
.main-section
.habits-content span{
    font-size: 1rem;
    color: var(--third-span-color);
}
.main-section
.habits-image{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
.main-section
.habits-image
.img{
    text-align: center;
    width: 19%;
    height: 19%;
}
.main-section
.habits-image
.img img{
    border-radius: 50%;
    margin: 15px;
}
.main-section
.habits-image
.img h2{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.main-section
.habits-image
.img span{
    font-size: 0.8rem;
    color: var(--third-span-color);
}







/* responsive-desing */
/* responsive-desing */
@media screen and (max-width: 576px) {
    .navber{
        justify-content: space-between;
        width: 90%;
        margin:auto;
    }
    .navber ul{
        display: none;
    }
    .navber .fa-bars{
        display: block;
    }
    .container{
        width: 100%;
        margin:auto;
        flex-direction: column;
    }
    .banner-container
    .banner-content{
        width: 90%;
        padding: 20px;
        margin: auto;
    }
    .banner-section 
    .banner-content{
        flex-direction: column;
    }
    .banner-section 
    .banner-content span{
        display: block;
    }
    .banner-container 
    .banner-image{
        width: 100%;
    }
    .banner-container 
    .banner-image 
    .free-workout{
        top: 50px;
        right: 20px;
    }
    .banner-container 
    .banner-image 
    .video-tuitorial{
        top: 280px;
        left: 20px;
        }
}